<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog EJS | <%= title %></title>
</head>
<body>
    <% const name= 'suraj' %>
    <nav>
        <div class="site-title">
            <p><%= name %></p>
            <a href="/">Blog Page</a>
            <p>A Blog Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <h3 class="blog-title"><%= blog.title%></h3>
                <p class="blog-snippet"><%= blog.snippet%></p>
            <% })%>
        <% } else {%>
            <p class="no-blog"><%= 'No Blog Found' %></p>
        <% }%>
    </div>
</body>
</html>